.advantage {
  display: flex;
  column-gap: 20px;

  @include tablet {
    flex-direction: column;
    row-gap: 20px
  }

  &__icon {
    @include square(60px);
    @include flex-center;

    padding: 15px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    align-self: flex-start;

    @include tablet {
      align-self: center;
    }
  }

  &__description {
    opacity: var(--opacity);
  }
}