.advantage {
  display: flex;
  column-gap: 21px;
  row-gap: 50px;

  &__icon {
    @include square(60px);
    @include flex-center;

    padding: 15px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    align-self: flex-start;
  }

  &__description {
    opacity: var(--opacity);
  }
}