.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
    row-gap: 30px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 471px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__image-wrapper {
    position: relative;

    &::after {
      @include square(634px);

      content: '';
      background-color: #54BE96;
      border-radius: 50%;
      translate: 50% -2%;
      z-index: -10;
      position: absolute;
      filter: blur(300px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}