.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
    row-gap: 30px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 471px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__image-wrapper {
    position: relative;

    &::before {
      @include square(40px);

      content: '';
      position: absolute;
      background-color: #74C9A9;
      background-image: url(../../images/icons/image.svg);
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      left: -15%;
      rotate: -15deg;
      border-radius: var(--border-radius-small);

      @include mobile {
        top: 0;
        left: 90%;
        rotate: 15deg;
      }
    }

    &::after {
      @include square(634px);

      content: '';
      background-color: #54BE96;
      border-radius: 50%;
      translate: 50% -2%;
      z-index: -10;
      position: absolute;
      filter: blur(300px);

      @include tablet {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
}