.button {
  padding-inline: 31px;
  height: var(--button-height);
  border-radius: var(--border-radius-large);
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);

<<<<<<< HEAD
  @include hover {
=======
  &:hover {
>>>>>>> d43aba93d16d624c8b99563ee91bbe7525cff5e1
    background-color: transparent;
    color: var(--color-dark);
  }

  &--small {
    padding-inline: 10px;
    height: var(--button-height-small);
    border-radius: var(--border-radius-small);
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-dark);
    border: none;
  }
}