.field {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 20px;

  &__input {
    width: 440px;
    height: 50px;
    padding: 17px 20px;
    border-radius: var(--border-radius-small);
    border: none;

    @include mobile-s {
      width: 330px;
    }

    &--textarea {
      height: 80px;
      resize: none;
    }
  }
}