.header {
  position: relative;
  padding-top: 40px;

  &::before {
    @include square(634px);

    content: '';
    position: absolute;
    background-color: #52bdaa;
    border-radius: 50%;
    z-index: -100;
    translate: -50% -50%;
    filter: blur(400px);

    @include tablet {
      display: none;
    }
  }

  @include desktop {
    padding-top: 30px;
  }

  @include mobile {
    padding-top: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    column-gap: 130px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    height: 40px;

    &:not(.is-active-page) {
      opacity: 0.5;
    }

    @include hover {
      opacity: 1;
    }
  }
}