.plan {
  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-bottom: 67px;
  }

  &__description {
    p {
      opacity: var(--opacity);
      font-weight: 700;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 29px;

    @include tablet {
      flex-direction: column;
    }
  }
}