.quote {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__accounts {
    &-list {
      display: flex;
      align-items: center;
      column-gap: 20px;

      @include desktop {
        justify-content: center;
      }
    }
  }

  &__button {
    padding: 0;
    background-color: transparent;
    border: none;

    @include hover {
      color: var(--color-light);
      scale: 1.05;
    }
  }
}