.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }

  &__title {
    color: var(--color-light);
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 466px;
    color: var(--color-gray);
  }
}