.toggle {
  background-color: var(--color-light);
  padding: 7px;
  box-shadow: var(--shadow);
  margin-inline: auto;
  border-radius: var(--border-radius-small);

  &__input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: aliceblue;
  }

  &__text {
    display: inline-block;
    border-radius: var(--border-radius-small);
    background-color: var(--color-accent);
    color: var(--color-light);
    padding: 15px 40px;
    height: 56px;

    &--not-checked {
      background-color: transparent;
      color: var(--color-dark);
    }
  }
}