:root {
  --color-dark: #191A15;
  --color-dark-alt: #161C28;
  --color-light: #FFFFFF;
  --color-light-alt: #F9F8FE;
  --color-accent: #54BD95;
  --color-dark-blue: #222938;
  --color-gray: #A6A6A6;

  --border: 2px solid var(--color-gray);
  --border-radius: 20px;
  --border-radius-small: 10px;
  --border-radius-large: 70px;

  --shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);

  --font-famaly-base: 'Inter', sans-serif;

  --opacity: 0.5;

  --transition-duration: 0.2s;

  --button-height: 66px;
  --button-height-small: 40px;

  --container-width: 1180px;
  --container-padding-x: 20px;

  --section-padding-y: 65px;
}