@import
  'normalize',
  'varibales',
  'fonts',
  'media',
  'mixins',
  'utils',
  'globals';

@import 
  'blocks/button',
  'blocks/field',
  'blocks/header',
  'blocks/section',
  'blocks/hero',
  'blocks/hero-form.scss',
  'blocks/hero-partners',
  'blocks/advantage',
  'blocks/rating-card',
  'blocks/advantages',
  'blocks/features-card',
  'blocks/features',
  'blocks/benefits',
  'blocks/image-elements',
  'blocks/toggle.scss',
  'blocks/plan-card',
  'blocks/plan',
  'blocks/get-started',
  'blocks/quote',
  'blocks/reviews',
  'blocks/footer';