@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

.custom-icon[fill]:not([fill=none]):not([fill^=url]) {
  fill: #FFC728 !important;
}

.custom-icon-gray[fill]:not([fill=none]):not([fill^=url]) {
  fill: #BBBBBB !important;
}

.custom-icon-gray-alt[fill]:not([fill=none]):not([fill^=url]) {
  fill: #d9d9d9 !important;
}

.custom-icon-green[fill]:not([fill=none]):not([fill^=url]) {
  fill: #54BD95;
}

.custom-icon-green[stroke]:not([stroke=none]):not([stroke^=url]) {
  stroke: #54BD95;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-dark: #191A15;
  --color-dark-alt: #161C28;
  --color-light: #FFFFFF;
  --color-light-alt: #F9F8FE;
  --color-accent: #54BD95;
  --color-dark-blue: #222938;
  --color-gray: #A6A6A6;
  --border: 2px solid var(--color-gray);
  --border-radius: 20px;
  --border-radius-small: 10px;
  --border-radius-large: 70px;
  --shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  --font-famaly-base: "Inter", sans-serif;
  --opacity: 0.5;
  --transition-duration: 0.2s;
  --button-height: 66px;
  --button-height-small: 40px;
  --container-width: 1180px;
  --container-padding-x: 20px;
  --section-padding-y: 65px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

html {
  overflow-x: hidden;
}

body {
  font-size: clamp(16px, 1.25vw, 18px);
  color: var(--color-dark);
  background-color: var(--color-light);
  font-family: var(--font-famaly-base);
  font-weight: 500;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;
}

h1, .h1 {
  font-size: clamp(40px, 5.5555555556vw, 80px);
}

h2, .h2 {
  font-size: clamp(34px, 3.4722222222vw, 50px);
}

.h2-small {
  font-size: clamp(28px, 2.7777777778vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.0833333333vw, 30px);
}

h4, .h4 {
  font-size: clamp(20px, 1.9444444444vw, 28px);
}

.button {
  padding-inline: 31px;
  height: var(--button-height);
  border-radius: var(--border-radius-large);
  color: var(--color-light);
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-dark);
  }
}
.button--small {
  padding-inline: 10px;
  height: var(--button-height-small);
  border-radius: var(--border-radius-small);
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
  border: none;
}
.button--elipce {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.button--plan {
  padding-inline: 65px;
  height: 64px;
  font-size: 18px;
  border-radius: var(--border-radius);
}
.button--plan-transparent {
  background-color: transparent;
  box-shadow: var(--shadow);
  border: none;
  color: var(--color-dark);
}

.field {
  display: flex;
  flex-direction: column;
  text-align: start;
  row-gap: 20px;
}
.field__input {
  width: 440px;
  height: 50px;
  padding: 17px 20px;
  border-radius: var(--border-radius-small);
  border: none;
}
@media (max-width: 480px) {
  .field__input {
    width: 330px;
  }
}
.field__input--textarea {
  height: 80px;
  resize: none;
}
.field__input--footer {
  height: 60px;
  padding: 15px 20px;
  border-radius: var(--border-radius-large);
  background-color: transparent;
  color: var(--color-light);
  border: 2px solid var(--color-gray);
}

.header {
  position: relative;
  padding-top: 40px;
}
.header::before {
  width: 634px;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  background-color: #52bdaa;
  border-radius: 50%;
  z-index: -100;
  translate: -50% -50%;
  filter: blur(400px);
}
@media (max-width: 1023px) {
  .header::before {
    display: none;
  }
}
@media (max-width: 1280px) {
  .header {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 15px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 130px;
       column-gap: 130px;
}
@media (max-width: 1023px) {
  .header__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__link {
  display: inline-flex;
  align-items: center;
  height: 40px;
}
.header__link:not(.is-active-page) {
  opacity: 0.5;
}
@media (hover: hover) {
  .header__link:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .header__link:active {
    opacity: 1;
  }
}

.section {
  padding-block: var(--section-padding-y);
}
.section--light-alt-bg {
  background-color: var(--color-light-alt);
}
.section--dark-bg {
  background-color: var(--color-dark-alt);
}
.section--margin {
  margin-top: 130px;
  padding: 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 152px;
       column-gap: 152px;
}
@media (max-width: 1280px) {
  .hero {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 1023px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
.hero__body {
  max-width: 555px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 61px;
}
.hero__title {
  position: relative;
}
.hero__title::after {
  content: "";
  position: absolute;
  width: 481px;
  height: 33px;
  background: url("../../images/hero-line.svg");
  top: 100%;
  left: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1280px) {
  .hero__title::after {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hero__description {
    max-width: 461px;
  }
}
.hero__buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 1023px) {
  .hero__buttons {
    margin-bottom: 20px;
    margin-inline: auto;
  }
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.hero__image-block {
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero__image-block::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  position: absolute;
  background: url("../../images/hero-card.svg");
  background-position: center;
  background-repeat: no-repeat;
  translate: 100% 9%;
  rotate: 15deg;
  width: 146px;
  height: 188px;
  z-index: 5;
}
@media (max-width: 1280px) {
  .hero__image-block::before {
    display: none;
  }
}
.hero__image-block::after {
  width: 634px;
  aspect-ratio: 1;
  content: "";
  background-color: #54BE96;
  border-radius: 50%;
  translate: 50% -2%;
  z-index: -10;
  position: absolute;
  filter: blur(300px);
}
@media (max-width: 1023px) {
  .hero__image-block::after {
    display: none;
  }
}
.hero__image {
  position: relative;
}
.hero__total-income {
  padding: 13px;
  max-width: 151px;
  background-color: var(--color-light);
  z-index: 5;
  border-radius: var(--border-radius-small);
}
.hero__total-income svg {
  color: #52BD94;
}
.hero__total-income-title {
  font-size: 12px;
  opacity: 0.5;
}
.hero__total-income-price {
  margin-right: 28px;
}
@media (min-width: 1281px) {
  .hero__total-income {
    position: absolute;
    translate: -15% 486%;
  }
}

.hero-form {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-width: 262px;
  padding: 14px 18px;
  border-radius: var(--border-radius-small);
  z-index: 5;
}
@media (min-width: 1281px) {
  .hero-form {
    position: absolute;
    translate: -50% 50%;
  }
}
.hero-form__input {
  padding-block: 5px;
  border: none;
  width: 160px;
}
.hero-form__body {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 2px;
}
.hero-form__title {
  align-self: flex-start;
  font-size: 12px;
  opacity: 0.5;
}
.hero-form__button {
  padding-inline: 16px;
  height: 28px;
  font-size: 13px;
  border-radius: var(--border-radius-large);
}

.hero-partners {
  text-align: center;
  padding: var(--section-padding-y);
}
.hero-partners__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (max-width: 1023px) {
  .hero-partners__list {
    flex-direction: column;
    row-gap: 50px;
  }
}

.advantage {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1023px) {
  .advantage {
    flex-direction: column;
    row-gap: 20px;
  }
}
.advantage__icon {
  width: 60px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--color-light);
  box-shadow: var(--shadow);
  align-self: flex-start;
}
@media (max-width: 1023px) {
  .advantage__icon {
    align-self: center;
  }
}
.advantage__description {
  opacity: var(--opacity);
}

.rating-card {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.rating-card__rating-dedicatet, .rating-card__name-company {
  font-weight: 700;
}
.rating-card__name-company {
  opacity: var(--opacity);
}

.advantages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
@media (max-width: 1023px) {
  .advantages {
    flex-direction: column;
    text-align: center;
    row-gap: 27px;
  }
}
.advantages__body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 644px;
}
.advantages__description {
  opacity: var(--opacity);
}
.advantages__rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
@media (max-width: 1023px) {
  .advantages__rating {
    margin-inline: auto;
  }
}
@media (max-width: 480px) {
  .advantages__rating {
    flex-direction: column;
    row-gap: 40px;
  }
}
.advantages__pros {
  max-width: 509px;
}
.advantages__pros-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.features-card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.features-card__image {
  border-radius: var(--border-radius);
}
@media (max-width: 1023px) {
  .features-card__image {
    margin-inline: auto;
  }
}
.features-card__description {
  opacity: var(--opacity);
}

.features__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .features__header {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    margin-bottom: 20px;
  }
}
.features__description {
  max-width: 461px;
  opacity: var(--opacity);
}
.features__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 44px;
       column-gap: 44px;
}
@media (max-width: 1023px) {
  .features__list {
    flex-direction: column;
    text-align: center;
    row-gap: 44px;
  }
}

.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .benefits {
    flex-direction: column;
    row-gap: 30px;
  }
}
.benefits__body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 471px;
}
.benefits__list-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.benefits__image-wrapper {
  position: relative;
}
.benefits__image-wrapper::before {
  width: 40px;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  background-color: #74C9A9;
  background-image: url(../../images/icons/image.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: -15%;
  rotate: -15deg;
  border-radius: var(--border-radius-small);
}
@media (max-width: 767px) {
  .benefits__image-wrapper::before {
    top: 0;
    left: 90%;
    rotate: 15deg;
  }
}
.benefits__image-wrapper::after {
  width: 634px;
  aspect-ratio: 1;
  content: "";
  background-color: #54BE96;
  border-radius: 50%;
  translate: 50% -2%;
  z-index: -10;
  position: absolute;
  filter: blur(300px);
}
@media (max-width: 1023px) {
  .benefits__image-wrapper::after {
    display: none;
  }
}
.benefits__list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.image-elements__element {
  background-color: #fff;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.05);
  font-size: 16px;
  z-index: 20;
  border-radius: var(--border-radius-small);
}
@media (min-width: 1281px) {
  .image-elements__element {
    position: absolute;
  }
}
.image-elements__element--first {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  width: 304px;
  padding: 20px;
}
@media (min-width: 1281px) {
  .image-elements__element--first {
    top: 36px;
    left: -30%;
  }
}
.image-elements__element--first h4 {
  font-size: 16px;
}
.image-elements__element--first p {
  font-size: 12px;
  opacity: var(--opacity);
}
.image-elements__element--second {
  padding: 13px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
@media (min-width: 1281px) {
  .image-elements__element--second {
    top: 121px;
    right: -69px;
  }
}
.image-elements__element--second .image-elements__total-income-title {
  font-size: 12px;
}
.image-elements__element--thirt {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 22px 25px;
  font-size: 18px;
}
@media (min-width: 1281px) {
  .image-elements__element--thirt {
    left: -50%;
    bottom: -14px;
  }
}
.image-elements__button {
  height: 40px;
}

.toggle {
  background-color: var(--color-light);
  padding: 7px;
  box-shadow: var(--shadow);
  margin-inline: auto;
  border-radius: var(--border-radius-small);
}
.toggle__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: aliceblue;
}
.toggle__text {
  display: inline-block;
  border-radius: var(--border-radius-small);
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: 15px 40px;
  height: 56px;
}
.toggle__text--not-checked {
  background-color: transparent;
  color: var(--color-dark);
}

.plan-card {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-inline: 20px;
  padding-top: 40px;
  padding-bottom: 25px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  max-width: 374px;
  text-align: center;
  background-color: var(--color-light);
}
@media (max-width: 1023px) {
  .plan-card {
    max-width: 350px;
    padding: 0;
    margin-inline: auto;
  }
}
.plan-card__description {
  opacity: var(--opacity);
}
.plan-card__description--no-opacity {
  opacity: 1;
}
.plan-card__price {
  font-size: 50px;
  position: relative;
}
.plan-card__price::before {
  content: "$";
  font-size: 18px;
  position: absolute;
  top: -5%;
  left: 32%;
  opacity: var(--opacity);
}
.plan-card__price-recommended {
  position: relative;
  font-size: 50px;
}
.plan-card__price-recommended::before {
  content: "$";
  font-size: 18px;
  position: absolute;
  top: -5%;
  left: 35%;
  opacity: 1;
}
.plan-card__features-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: start;
}
.plan-card__features-list-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.plan-card__features-list svg {
  width: 26px;
  aspect-ratio: 1;
}
.plan-card--recommended {
  background-color: var(--color-accent);
  color: var(--color-light);
  height: 690px;
  padding-inline: 20px;
  overflow: hidden;
  position: relative;
}
.plan-card--recommended ul {
  margin-bottom: 10px;
}
.plan-card--recommended .plan-card__block-background, .plan-card--recommended .plan-card__price-recommended, .plan-card--recommended .plan-card__save, .plan-card--recommended ul, .plan-card--recommended svg {
  position: relative;
  z-index: 5;
}
.plan-card--recommended::before {
  width: 600px;
  aspect-ratio: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  background-color: #6BC2A1;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 65%;
}
.plan-card__block-background {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding-inline: 37px;
  padding-block: 25px;
  border-radius: var(--border-radius-small);
}
.plan-card__save {
  background-color: #85DAB9;
  padding: 5px 11px;
  align-self: self-start;
  margin-inline: auto;
  border-radius: var(--border-radius-small);
}

.plan__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 67px;
}
.plan__description p {
  opacity: var(--opacity);
  font-weight: 700;
}
.plan__cards {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 29px;
       column-gap: 29px;
}
@media (max-width: 1023px) {
  .plan__cards {
    flex-direction: column;
  }
}

.get-started {
  background-color: var(--color-dark-blue);
  color: var(--color-light);
  padding: 40px 86px 66px 86px;
  text-align: center;
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .get-started {
    padding: 20px 15px 30px 15px;
  }
}
@media (max-width: 480px) {
  .get-started {
    padding: 15px 5px 20px 5px;
  }
}
.get-started__image {
  margin-inline: auto;
}
.get-started__form-body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.get-started__free-trial {
  align-self: flex-end;
}
.get-started__text-opacity {
  opacity: var(--opacity);
}
.get-started__button {
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .get-started__button:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .get-started__button:active {
    color: var(--color-light);
  }
}

.quote {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.quote__accounts-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1280px) {
  .quote__accounts-list {
    justify-content: center;
  }
}
.quote__button {
  padding: 0;
  background-color: transparent;
  border: none;
}
@media (hover: hover) {
  .quote__button:hover {
    color: var(--color-light);
    scale: 1.05;
  }
}
@media (hover: none) {
  .quote__button:active {
    color: var(--color-light);
    scale: 1.05;
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 130px;
}
@media (max-width: 1280px) {
  .reviews {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
}
.reviews__title {
  color: var(--color-light);
}
.reviews__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 466px;
  color: var(--color-gray);
}

.footer {
  background-color: var(--color-dark-alt);
  color: var(--color-gray);
  padding-top: 100px;
  padding-bottom: 43px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1280px) {
  .footer__top {
    text-align: center;
    flex-direction: column;
    row-gap: 20px;
  }
}
.footer__brand {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.footer__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
@media (max-width: 1280px) {
  .footer__navigation {
    text-align: center;
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__list-title {
  color: var(--color-light);
  margin-bottom: 10px;
}
@media (hover: hover) {
  .footer__list a:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .footer__list a:active {
    color: var(--color-light);
  }
}
.footer__button {
  padding: 15px;
  height: 46px;
  position: absolute;
  top: 12%;
  right: 2%;
}
@media (hover: hover) {
  .footer__button:hover {
    color: var(--color-light);
  }
}
@media (hover: none) {
  .footer__button:active {
    color: var(--color-light);
  }
}
.footer__form {
  position: relative;
  max-width: 450px;
}
.footer__bottom {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
}
@media (max-width: 767px) {
  .footer__bottom {
    flex-direction: column;
  }
}
@media (hover: hover) {
  .footer__bottom a:hover {
    text-decoration: underline;
  }
}
@media (hover: none) {
  .footer__bottom a:active {
    text-decoration: underline;
  }
}/*# sourceMappingURL=index.css.map */